header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
}

h1 {
    font-size: 3rem;
    color: red;
    text-shadow: 1px 1px 1px blue;
    font-family: sans-serif;
    text-align: center;
}
.messages {
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    margin-bottom: 0;
}

.messages li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    border: 1px solid lightgrey;
}

.full {
    width: 100%;
}

.quarter {
    display: flex;
    width: 25%;
    font-size: 0.7rem;
    justify-content: center;

}

.listHeader  {
    display: flex;
    margin-top: 0;
    padding-top: 0;
    div {
        border: 1px solid black;
        display: flex;
        justify-content: center;
    }
    p {
        text-align: center;
    }
}

.messagesWrap {
    margin-top: 5%;
    border: 2px solid red;
}

.menuList {
    padding: 5%;
}

.menu {
    width: 100%;
}

.desc {
    font-size: 0.7rem;
}

form.menu {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

label {
    margin: 10px 0;
    font-weight: bold;
}

.inputField {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type=text] {
    width: 50%;
    height: 50px;
    text-align: center;
}

select {
    margin: 2px;
    outline: none;
    width: 50%; 
    text-align-last:center; 
}

input[type=submit] {
    width: 50%;
    padding: 10px 0;
    background: lighten(green, 10);
    color: white;
    margin: auto auto;
    margin-top: 2.5%;
}

.messages input{
    width: 75px;
    font-size: 0.75rem;
    padding: 0;
}

.listInputFields {
width: 100%;
flex-grow: 1;
    &:nth-of-type(1) {
        width: 20px;
    }
}

.messages {
    .inputField:nth-of-type(1) {
        width: 15%;
    }
    .inputField:nth-of-type(3) {
        width: 25%;
    }
}


#listNumberInput {
    width: 20%;
}

button {
    color: red;
    background: transparent;
    border: none;
    .svg-inline--fa {
        font-size: 1.2rem;
    }
}